{% extends 'base.html' %}

{% block body %}
<div class="intro-header">

</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            {% block menu %}
                {% include 'home/menu.html' %}
            {% endblock %}
        </div>

        <div class="col-sm-9">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
