<div class="panel panel-default sidebar-menu">
    <div class="panel-heading">Menu</div>
        <div class="panel-body">
            <ul class="menu-items">
                <li><a href="{{ url_for('home.dashboard') }}">Home</a></li>
                <li><a href="{{ url_for('home.widgets') }}">Widgets Configuration</a></li>
                <li><a href="{{ url_for('home.system') }}">System Overview</a></li>
            </ul>
        </div>
</div>
