{% extends 'home/dashboard.html' %}

{% block content %}
<div class="panel panel-default ">
     <div class="panel-heading">Operating system details</div>
     <div class="panel-body">
        <div class="container">
          <div class="row">
            <div class="col-xs-2">
            Hostname
            </div>
            <div class="col-xs-2">
                {{ hostname }}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-2">
            Architecture 
            </div>
            <div class="col-xs-2">
                {{ arch }}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-2">
            Kernel version
            </div>
            <div class="col-xs-2">
                {{ kernel }}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-2">
            Uptime
            </div>
            <div class="col-xs-2">
                {{ uptime }}
            </div>
          </div>
        </div>
     </div>
 </div>

     <div class="panel-heading">Stats</div>
     <div class="panel-body">
        <div class="container">

          <div class="row">
            <div class="col-xs-2">
              CPU usage 
            </div>
            <div class="col-xs-2">
                {{ cpu }}%
            </div>
          </div>

          <br>
          Memory
          <div class="row">
            <div class="col-xs-2">
              Total
            </div>
            <div class="col-xs-2">
                {{ memt // 1024 // 1024 }} GB
            </div>
          </div>

          <div class="row">
            <div class="col-xs-2">
              Used
            </div>
            <div class="col-xs-2">
                {{ mema // 1024 // 1024 }} GB
            </div>
          </div>

          <div class="row">
            <div class="col-xs-2">
              Free
            </div>
            <div class="col-xs-2">
                {{ memi // 1024 // 1024 }} GB
            </div>
          </div>

        <br>
        Free disk space
        {% for item1, item2, item3 in mpointuse %}
          <div class="row">
            <div class="col-xs-2">
             {{ item1 }}
            </div>
            <div class="col-xs-2">
                {{ item2 }} GB
            </div>
            <div class="col-xs-2">
                {{ item3 }} %
            </div>
          </div>
        {% endfor %}

        </div>
     </div>
 </div>
{% endblock %}
