{% extends 'home/dashboard.html' %}

{% block content %}
<div class="panel panel-default widget">
     <div class="panel-heading">Flickr</div>
     <div class="panel-body">
         <form method="post" action="{{ url_for('home.widget_flickr') }}">
             <div class="form-group">
                 {{ flickr_form.api_key.label}}: {{ flickr_form.api_key(class_='form-control') }}
                 {{ flickr_form.image_limit.label}}: {{ flickr_form.image_limit(class_='form-control') }}
                 {{ flickr_form.csrf_token }}
             </div>

             <button type="submit" class="btn btn-default">Save</button>
         </form>
     </div>
 </div>

<div class="panel panel-default widget">
     <div class="panel-heading">Weather</div>
     <div class="panel-body">
         <form method="post" action="{{ url_for('home.widget_weather') }}">
             <div class="form-group">
                 {{ weather_form.api_key.label}}: {{ weather_form.api_key(class_='form-control') }}
                 {{ weather_form.location.label}}: {{ weather_form.location(class_='form-control') }}
                 {{ weather_form.csrf_token }}
             </div>

             <button type="submit" class="btn btn-default">Save</button>
         </form>
     </div>
 </div>
{% endblock %}