/* app/static/css/style.css */

body, html {
    width: 100%;
    height: 100%;
}

body, h1, h2, h3 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

a, .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #aec251;
}

a:hover, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
  color: #687430;
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

.alert-info {
    width: 50%;
    margin: auto;
    color: #687430;
    background-color: #e6ecca;
    border-color: #aec251;
}

.btn-default {
    border-color: #aec251;
    color: #aec251;
}

.btn-default:hover {
    background-color: #99ff66;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.content-section {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
}

.footer, .push {
  clear: both;
  height: 4em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    /*
    background: url(../img/intro-bg.jpg) no-repeat center center; 
    background-size: cover;
    */
    background-color: #99ff66;
    height: 100%;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.topnav {
    font-size: 14px;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.panel.widget {
    margin-top: 15px;
}

.panel.widget label {
    padding-top: 5px;
}

/* Sidebar Menu */
.panel.sidebar-menu {
    margin-top: 15px;
}

.panel.sidebar-menu .panel-body {
    background-color: #f8f8f8;
    padding: 0;
}

.panel.sidebar-menu ul {
    list-style: none;
    padding: 0;
}

.panel.sidebar-menu ul li {
    padding-top: 12px;
    padding-bottom: 12px;
    float: none;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333;

}

.panel.sidebar-menu ul li.active {
    background-color: #e7e7e7;
     color: #555;
}

.panel.sidebar-menu ul li > a {
    padding: 10px 15px;

    color: #777;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}